<!DOCTYPE html>
<html lang="english"> <!--Wedsite is in english-->
   
    <head>
        <title></title>
        <link rel="stylesheet" href="css/basestyle.css">
        <meta charset="UTF-8">
        <meta name="descption" content="Webpage to all my Projects/profoloio">
        <meta name="author" content="Jasmine Antill">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <h1></h1>
        </header>

     <nav>
        <ul>
            <li><a href ="Home page.html"><h2>Home</h2></a></li>
            <li><a href ="Projects-Skills.html"><h2>Projects/Skills</h2></a></li>
            <li><a href ="Contact-Me.html"><h2>Contact Me</h2></a></li>
        </ul>
     </nav>

     <main>
     </main>


    

    <footer>
        <br><br>
        <p id="timeSince"> This has been devloped from home by me, thank you for having a interest in my growing work. Fun fact it has been <span id="timeSinceSeconds">0</span> seconds since this site has stared work on.</p>

    </footer>
    <script src="javascript/website_functions.js" defer></script>

    </body>
    
</html>